PORT=3000
DB_SERVER=localhost        # O la IP/DNS del Listener (ej. BANCO-LISTENER o 192.168.1.150)
DB_DATABASE=BancoHA_DB
DB_USER=sa                 # Tu usuario de SQL Server
DB_PASSWORD=TuPassword123  # Tu contraseña de SQL Server
DB_PORT=1433
DB_CONNECT_TIMEOUT=4000
DB_REQUEST_TIMEOUT=5000
