PORT=3000

# CONFIGURACION POSTGRESQL EN UBUNTU SERVER
DB_HOST=localhost            # Host de PostgreSQL, IP de Ubuntu Server o VIP/HAProxy
DB_PORT=5432                 # Puerto predeterminado de PostgreSQL
DB_DATABASE=bancoha_db       # Nombre de la base de datos
DB_USER=postgres             # Usuario de PostgreSQL en Ubuntu
DB_PASSWORD=TuPassword123    # Contraseña del usuario
DB_SSL=false                 # Activar solo si se configuran certificados SSL/TLS

